# Placed in /lib/systemd/system/XYZ.service
# Run the following commands afterwards:
# sudo chmod 644 /lib/systemd/system/XYZ.service
# sudo systemctl daemon-reload
# sudo systemctl enable XYZ.service
# sudo systemctl start XYZ.service

[Unit]
Description=Update Offset Service for Cometblue
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python /home/pi/RasPiProjects/update_offset.py
Restart=always
RestartSec=6
StandardOutput=syslog

[Install]
WantedBy=multi-user.target

